@import "tailwindcss";

body {
  scrollbar-gutter: stable;
}

@media (min-width: 768px) {
  .yarl__slide_description_container {
    top: 1rem !important;
    left: 1rem !important;
    right: auto !important;
    bottom: auto !important;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
  }

  .yarl__slide_description {
    text-align: left !important;
    font-size: 0.95rem;
  }
}
